nav.nav-el {
  position: absolute;
  top: 0;
  left: 0;
  width: 85px;
  border-right: 2px solid $fontPrimary;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 275px 0;
  background: $primary;
  z-index: 110;

  .nav-logo {
    width: 52%;
    margin: 20px 24%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  .nav-item-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $nav-width;
    cursor: pointer;
    position: relative;

    &:hover {
      svg {
        filter: blur(4px);
      }

      p.nav-icon-label {
        opacity: 1;
      }
    }

    p.nav-icon-label {
      color: $accentBlueLight;
      font-weight: 700;
      opacity: 0;
      position: absolute;
      transition: 0.3s ease-in-out 0.1s;
    }

    svg {
      width: 50%;
      max-height: 100%;
      transition: 0.5s ease-out;
    }
  }

  #social-links {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;

    a {
      width: 30%;
      transition: 0.65s ease-in-out;
      svg {
        width: 100%;
        cursor: pointer;
        max-height: 40px;
        margin: 10px 0;
      }

      span.label {
        display: none;
      }

      &:hover {
        transform: scale(1.25);
      }
    }
  }
}
