nav.nav-el {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  border-right: 2px solid $fontPrimary;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 200px 0;

  .nav-logo {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .nav-item-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $nav-width;
    cursor: pointer;
    border: 1px solid $accentBlueLight;

    p {
      color: $accentBlueLight;
      font-weight: 700;
    }
  }
}
