.wipe {
  width: 100vw;
  height: 120vh;
  position: absolute;
  bottom: -100vh;
  left: -100vw;
  transform: rotate(-45deg);
  background: linear-gradient(90deg, rgba(0,10,56,1) 79%, rgba(129,191,217,1) 100%);
  z-index: 100;
}
