// Box Sizing
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox */
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  height: 100%;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
}

a {
  text-decoration: none;
  color: inherit;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    outline: 0;
    color: inherit;
  }
  &:hover {
    // color: $yellow;
  }
}
strong, b {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  line-height: 1.4;
}

p {
  margin-top: 0;
  &:last-child {
    margin-bottom: 0;
  }
}

sup {
  font-size: 60%;
  top: -0.85em;
  h2 & {
    font-size: 55%;
    top: -0.9em;
  }
  h3 &,
  h4 &,
  p & {
    font-size: 60%;
    top: -0.75em;
  }
}
