
// Colors
$primary: #1D1D1D;
$secondary: #000A38;
$accentBlueDark: #0176a7;
$accentBlueLight: #81bfd9;
$accentGreenLight: #A8EEEB;
$accentGreenHeavy: #08FDD8;
$fontPrimary: #FFFCF4;

// Dimensions
$btn-width: 150px;
$nav-width: 100px;
