html, body {
  background: $primary;
  color: $fontPrimary;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 70px;
}

h2 {

}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 18px;
}

.main {
  padding: 50px;
  height: 100%;
  padding-left: $nav-width;
}

span.gradient-text {
  @include gradient-bg;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-page {
  display: none;
  opacity: 0;

  &.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.thumb img {
  width: 500px;
}
